.icon-icon_angel {
    background-color: #888;
    display: inline-block;
    width: 1em;
    height: 1em;
    mask: url(angel.svg) no-repeat 50% 50%;
    mask-size: cover;
}

#R-header-wrapper {
    padding-top: 1rem;
}

#R-content-wrapper .icon-icon_angel {
    width: 1.25em;
    height: 1.25em;
}
